body {
    margin: 0 !important;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.signup-container {
    margin-top: 30px !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    height: 100vh;
    margin-left: 150px;
}

.signup-form-container {
    flex-basis: 45%;
    margin-left: -10%;
}

.signup-form-container h1 {
    font-size: 25pt;
    font-weight: bold;
    color: #49581F;
}

.signup-intro {
    font-size: 18pt;
    color: #A9B489;

}

.signup-form {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 70%;
}


.signup-form label {
    margin-bottom: 5px;
}

.signup-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #F5F5F7;
    border-radius: 5px;
}

.signup-button {
    background-color: #D27433;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 80px;
    font-size: 1rem;
}

.signup-button:hover {
    background-color: #a65327;
}

.signup-image-container {
    flex-basis: 45%;
    text-align: right;
    margin-left: -40%;
}

.signup-image-container img {
    max-width: 80%;
    height: auto;
    margin-left: -100px;
}

.heading {
    font-weight: 500;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.checkbox-container input {
    margin-right: 0.5em;
}

.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    border: 2px solid #a65327;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle;
}

.custom-checkbox input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.custom-checkbox span {
    position: absolute;
    top: 2px;
    left: 4px;
    height: 16px;
    width: 16px;
    background-color: #a65327;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.2s;
}

.custom-checkbox input:checked~span {
    opacity: 1;
}

.checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-label span {
    margin-left: 5px;
}




@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .login-image-container {
        order: -1;
        margin-bottom: 30px;
    }
}